In [1]:
# DEVELOPMEMT OF DATA PRODUCTS - 18697
# US3 - DATA MERGING

The Notebook is part of the Development of Data Products product development, with the functional objective of providing data analysis and visualization to the end user about comparisons of daily and cumulative recorded cases, for confirmed, death, or recovered patients. In addition, the Stringency Index is also included for comparison how different governments have reacted in terms of restrictions and regulations to the pandemic situation.

# Index:

1. [Imported Libraries and Scripts](#import-libraries-scripts)
2. [Reading Data Sources](#read-data)
    1. [Daily Cases Data](#daily-data)
    2. [Cumulative Cases Data](#cumulative-data)
    3. [Government Response Data](#si-data)
3. [Merging Data Sources](#merge-data)
    1. [Aggregate and Merge Cumulative Cases Data](#merge-cumulative-data)
    2. [Merge Government Response Data](#merge-si-data)

## 1 Imported Libraries and Scripts <a class="anchor" id="import-libraries-scripts"></a>

Some of the code functionalities are included in dedicated Python functions stored in an external file which gets imported to the current Notebook.

In [2]:
# Libraries
import os

import pandas as pd
import numpy as np

import time
import random

# for dates and timestamps handling
from datetime import datetime

In [3]:
# Scripts
from scripts import utils

## 2 Reading Data Sources <a class="anchor" id="read-data"></a>

The collected data sources are under "DDP-unibz-project-18697/ProjectDataSources" inside the following directories:
    
    - csse_covid_29_data/csse_covid_19_daily_reports/ --> Daily data
    - csse_covid_29_data/csse_covid_19_time_series/ --> Cumulative data, recovered, deaths and confirmed cases
    - covid-policy-tracker/timeseries/ --> Stringency Index (Government response Indicator)
    
It is important to mention that daily data comes in the format **Month/Day/Year**, whereas columns listed in cumulative data and government response data tables have the format **Day/Month/Year**.

In addition to reading the CSV files, an initial data check is performed for checking:

    - That columns have the proper data types for further data manipulation
    - How many rows and columns contain null or not available data?
    - Which percentate of the total data is missing or unknown?
    
Moreover, imported data sources have columns which are not relevant for achieving the functional objective of the project and are being deleted using a simple Python function.

### A) Daily Cases Data <a class="anchor" id="daily-data"></a>

Reading a particular day data from CSV file. Data gets read, cleaned and initial stats are displayed to the user.

In [4]:
file_path = "../ProjectDataSources/csse_covid_19_data/" + \
            "csse_covid_19_daily_reports/03-10-2022.csv"

daily_df = utils.read_data(file_path)
daily_df = utils.drop_columns(daily_df, data_source="daily")

utils.initial_dataframe_check(daily_df)

Removed 10 columns from dataframe

                              Values
# Rows                      4012.000
# Columns                      4.000
# Rows with NAs             4010.000
# Columns with NAs             1.000
% Null Values in Dataframe    24.988

In [5]:
daily_df.head()

  Country_Region  Confirmed  Deaths  Recovered
0    Afghanistan     175893    7639        NaN
1        Albania     272479    3484        NaN
2        Algeria     265366    6861        NaN
3        Andorra      38794     152        NaN
4         Angola      98855    1900        NaN

In [6]:
number_unique_countries = len(np.unique(daily_df["Country_Region"]))
print("How many countries in the list ? ", number_unique_countries)

How many countries in the list ?  199

Also, the country names are going to be reviewed in further stages.

### B) Cumulative Cases Data <a class="anchor" id="cumulative-data"></a>

Cumulative data is composed of three different timeseries:

    - global confirmed cases
    - global deaths cases
    - global recovered cases

Follow same commands used for daily data.

#### Confirmed Cases

In [7]:
file_path = "../ProjectDataSources/csse_covid_19_data/" + \
            "csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"

confirmed_df = utils.read_data(file_path)
confirmed_df = utils.drop_columns(confirmed_df, data_source="cumulative")

utils.initial_dataframe_check(confirmed_df)

Removed 3 columns from dataframe

                            Values
# Rows                       285.0
# Columns                    943.0
# Rows with NAs                0.0
# Columns with NAs             0.0
% Null Values in Dataframe     0.0

In [8]:
confirmed_df.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,8/11/22,8/12/22,8/13/22,8/14/22,8/15/22,8/16/22,8/17/22,8/18/22,8/19/22,8/20/22
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,188506,188704,188820,189045,189343,189477,189710,190010,190254,190435
1,Albania,0,0,0,0,0,0,0,0,0,...,320086,320781,321345,321804,322125,322837,323282,323829,325241,325736
2,Algeria,0,0,0,0,0,0,0,0,0,...,268718,268866,269008,269141,269269,269381,269473,269556,269650,269731
3,Andorra,0,0,0,0,0,0,0,0,0,...,45899,45899,45899,45899,45899,45899,45975,45975,45975,45975
4,Angola,0,0,0,0,0,0,0,0,0,...,102636,102636,102636,102636,102636,102636,102636,102636,102636,102636

#### Death Cases

In [9]:
file_path = "../ProjectDataSources/csse_covid_19_data/" + \
            "csse_covid_19_time_series/time_series_covid19_deaths_global.csv"

deaths_df = utils.read_data(file_path)
deaths_df = utils.drop_columns(deaths_df, data_source="cumulative")

utils.initial_dataframe_check(deaths_df)

Removed 3 columns from dataframe

                            Values
# Rows                       285.0
# Columns                    943.0
# Rows with NAs                0.0
# Columns with NAs             0.0
% Null Values in Dataframe     0.0

In [10]:
deaths_df.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,8/11/22,8/12/22,8/13/22,8/14/22,8/15/22,8/16/22,8/17/22,8/18/22,8/19/22,8/20/22
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,7755,7755,7758,7758,7759,7759,7759,7759,7759,7759
1,Albania,0,0,0,0,0,0,0,0,0,...,3568,3569,3570,3571,3571,3573,3574,3574,3575,3576
2,Algeria,0,0,0,0,0,0,0,0,0,...,6878,6878,6878,6878,6878,6878,6878,6878,6878,6878
3,Andorra,0,0,0,0,0,0,0,0,0,...,154,154,154,154,154,154,154,154,154,154
4,Angola,0,0,0,0,0,0,0,0,0,...,1917,1917,1917,1917,1917,1917,1917,1917,1917,1917

#### Recovered Cases

In [11]:
file_path = "../ProjectDataSources/csse_covid_19_data/" + \
            "csse_covid_19_time_series/time_series_covid19_recovered_global.csv"

recovered_df = utils.read_data(file_path)
recovered_df = utils.drop_columns(recovered_df, data_source="cumulative")

utils.initial_dataframe_check(recovered_df)

Removed 3 columns from dataframe

                            Values
# Rows                       270.0
# Columns                    943.0
# Rows with NAs                0.0
# Columns with NAs             0.0
% Null Values in Dataframe     0.0

In [12]:
recovered_df.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,8/11/22,8/12/22,8/13/22,8/14/22,8/15/22,8/16/22,8/17/22,8/18/22,8/19/22,8/20/22
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Albania,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Algeria,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Andorra,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Angola,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

There are less observations on recovered cases dataset in comparison to deaths or confirmed cases. Does it has to do with the number of listed countries?

In [13]:
# Country Names
print("How many countries in the confirmed cases list ? ",len(np.unique(confirmed_df["Country/Region"])))
print("How many countries in the deaths cases list ? ",len(np.unique(deaths_df["Country/Region"])))
print("How many countries in the recovered cases list ? ",len(np.unique(recovered_df["Country/Region"])))

How many countries in the confirmed cases list ?  199
How many countries in the deaths cases list ?  199
How many countries in the recovered cases list ?  199

Luckily, it has nothing to do with the countries, so the same countries are listed in the three data sources.

### C) Government Response Data <a class="anchor" id="si-data"></a>

In [14]:
file_path = "../ProjectDataSources/covid-policy-tracker/" + \
            "timeseries/stringency_index_avg.csv"

stringency_df = utils.read_data(file_path)
stringency_df = utils.drop_columns(stringency_df, data_source="stringency_index")

utils.initial_dataframe_check(stringency_df)

Removed 4 columns from dataframe

                             Values
# Rows                      263.000
# Columns                   970.000
# Rows with NAs             263.000
# Columns with NAs          969.000
% Null Values in Dataframe    7.953

In [15]:
stringency_df.head()

,country_name,01Jan2020,02Jan2020,03Jan2020,04Jan2020,05Jan2020,06Jan2020,07Jan2020,08Jan2020,09Jan2020,...,17Aug2022,18Aug2022,19Aug2022,20Aug2022,21Aug2022,22Aug2022,23Aug2022,24Aug2022,25Aug2022,26Aug2022
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.11,11.11,11.11,11.11,11.11,NaN,NaN,NaN,NaN,NaN
2,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.11,11.11,11.11,11.11,11.11,11.11,11.11,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.56,5.56,5.56,5.56,5.56,5.56,5.56,NaN,NaN,NaN

In [16]:
number_unique_countries = len(np.unique(stringency_df["country_name"]))
print("How many countries in the list ? ", number_unique_countries)

How many countries in the list ?  187

The country list for stringency index dataset is smaller than the ones from the CSSE data source for daily and cumulative data cases. The country list is going to be intersected in further steps for data consistency.

## 3 Merging Data Sources  <a class="anchor" id="merge-data"></a>

Some of the collected data sources have the data stores as tables with each timestamp (a day) having a separate column. For further purposes, involving aggregation and visualization, it would be useful to have a dedicated column for timestamps, assigning the numerical value to another column, representing the data source: it can be Daily data, Cumulative or about the Stringency Index.

With Pandas built-in functions, it is easy to do the required manipulation. One thing to notice is that there are a few countries for which collected data is more ambitious and it is split by regions or by its overseas regions. For simplicity, every country must have only one row for all timestamps, and hence a sum aggregations should be done.

The functions to merge and aggregate data are part of the scripts folder.

### A) Aggregate and Merge Cumulative Cases Data <a class="anchor" id="merge-cumulative-data"></a>

For a successful merging, the same number of countries should be contained in each of the dataframes to merge. This is proved by using a function which computes the intersection for the involved datasets, where the values should match between each other.

In [17]:
intersection_1 = utils.get_list_inner_outer_join(np.unique(confirmed_df["Country/Region"]),
                                                 np.unique(deaths_df["Country/Region"]),
                                                 operation="inner")

intersection_2 = utils.get_list_inner_outer_join(np.unique(confirmed_df["Country/Region"]),
                                                 np.unique(recovered_df["Country/Region"]),
                                                 operation="inner")

intersection_3 = utils.get_list_inner_outer_join(np.unique(deaths_df["Country/Region"]),
                                                 np.unique(recovered_df["Country/Region"]),
                                                 operation="inner")

In [18]:
print(len(intersection_1))
print(len(intersection_2))
print(len(intersection_3))

199
199
199

It seems that the same number of countries are contained in each cumulative dataset. Now, let's check if the data per country is summarized in a single observation, or if the data source collects some countries data by its composed regions or overseas territories.

#### Confirmed Cases

In [19]:
aggregate_countries = utils.get_countries_split_by_regions(confirmed_df, 
                                                           country_column="Country/Region")

aggregate_countries

There are 8 countries where data needs to be aggregated.

['Australia',
 'Canada',
 'China',
 'Denmark',
 'France',
 'Netherlands',
 'New Zealand',
 'United Kingdom']

In [20]:
if len(aggregate_countries) > 0:
    confirmed_df = utils.sum_aggregation_dataframe(confirmed_df, aggregate_countries,
                                                   country_column="Country/Region")
    
    print(utils.initial_dataframe_check(confirmed_df))
    
else:
    pass

                            Values
# Rows                       199.0
# Columns                    943.0
# Rows with NAs                0.0
# Columns with NAs             0.0
% Null Values in Dataframe     0.0

#### Death Cases

In [21]:
aggregate_countries = utils.get_countries_split_by_regions(deaths_df, 
                                                           country_column="Country/Region")

aggregate_countries

There are 8 countries where data needs to be aggregated.

['Australia',
 'Canada',
 'China',
 'Denmark',
 'France',
 'Netherlands',
 'New Zealand',
 'United Kingdom']

In [22]:
if len(aggregate_countries) > 0:
    deaths_df = utils.sum_aggregation_dataframe(deaths_df, aggregate_countries,
                                                country_column="Country/Region")
    
    print(utils.initial_dataframe_check(deaths_df))
    
else:
    pass

                            Values
# Rows                       199.0
# Columns                    943.0
# Rows with NAs                0.0
# Columns with NAs             0.0
% Null Values in Dataframe     0.0

#### Recovered Cases

In [23]:
aggregate_countries = utils.get_countries_split_by_regions(recovered_df, 
                                                           country_column="Country/Region")

aggregate_countries

There are 7 countries where data needs to be aggregated.

['Australia',
 'China',
 'Denmark',
 'France',
 'Netherlands',
 'New Zealand',
 'United Kingdom']

In [24]:
if len(aggregate_countries) > 0:
    recovered_df = utils.sum_aggregation_dataframe(recovered_df, aggregate_countries,
                                                   country_column="Country/Region")
    
    print(utils.initial_dataframe_check(recovered_df))
    
else:
    pass

                            Values
# Rows                       199.0
# Columns                    943.0
# Rows with NAs                0.0
# Columns with NAs             0.0
% Null Values in Dataframe     0.0

#### Merging Data

Each cumulative dataset is melted, transforming the dataframe so that a column contain all measurements, and merged together with the other cumulative data ones.

In [25]:
confirmed_df_melt = pd.melt(confirmed_df, 
                            id_vars="Country/Region", 
                            value_vars=list(confirmed_df.columns[1:]),
                            var_name="Timestamps", 
                            value_name="Confirmed Cases")

utils.initial_dataframe_check(confirmed_df_melt)

                              Values
# Rows                      187458.0
# Columns                        3.0
# Rows with NAs                  0.0
# Columns with NAs               0.0
% Null Values in Dataframe       0.0

In [26]:
deaths_df_melt = pd.melt(deaths_df, 
                         id_vars="Country/Region", 
                         value_vars=list(deaths_df.columns[1:]),
                         var_name="Timestamps", 
                         value_name="Death Cases")

utils.initial_dataframe_check(deaths_df_melt)

                              Values
# Rows                      187458.0
# Columns                        3.0
# Rows with NAs                  0.0
# Columns with NAs               0.0
% Null Values in Dataframe       0.0

In [27]:
recovered_df_melt = pd.melt(recovered_df, 
                            id_vars="Country/Region", 
                            value_vars=list(recovered_df.columns[1:]),
                            var_name="Timestamps", 
                            value_name="Recovered Cases")

utils.initial_dataframe_check(recovered_df_melt)

                              Values
# Rows                      187458.0
# Columns                        3.0
# Rows with NAs                  0.0
# Columns with NAs               0.0
% Null Values in Dataframe       0.0

Because each of the stacked dataframe shares the same country and timestamps column names and values, merging process is straightforward.

In [28]:
merged_df = pd.concat([confirmed_df_melt, deaths_df_melt, recovered_df_melt], 
                     axis=1, join='inner')

# drop column duplicates
merged_df = merged_df.loc[:,~merged_df.columns.duplicated()]

print("Number of rows     : ", merged_df.shape[0])
print("Number of columns  : ", merged_df.shape[1])

Number of rows     :  187458
Number of columns  :  5

In [31]:
merged_df.tail(20)

,Country/Region,Timestamps,Confirmed Cases,Death Cases,Recovered Cases
187438,Togo,8/20/22,38355,282,0
187439,Tonga,8/20/22,14135,12,0
187440,Trinidad and Tobago,8/20/22,176821,4095,0
187441,Tunisia,8/20/22,1141773,29209,0
187442,Turkey,8/20/22,16671848,100400,0
187443,US,8/20/22,93634408,1041141,0
187444,Uganda,8/20/22,169396,3628,0
187445,Ukraine,8/20/22,5313322,116551,0
187446,United Arab Emirates,8/20/22,1009116,2341,0
187447,United Kingdom,8/20/22,23675485,187731,0
187448,Uruguay,8/20/22,975264,7429,0
187449,Uzbekistan,8/20/22,243654,1637,0
187450,Vanuatu,8/20/22,11770,14,0
187451,Venezuela,8/20/22,541322,5786,0
187452,Vietnam,8/20/22,11382258,43104,0
187453,West Bank and Gaza,8/20/22,697447,5691,0
187454,Winter Olympics 2022,8/20/22,535,0,0
187455,Yemen,8/20/22,11915,2153,0
187456,Zambia,8/20/22,332264,4016,0
187457,Zimbabwe,8/20/22,256616,5592,0

### B) Merge Government Response Data <a class="anchor" id="merge-si-data"></a>

For merging the Stringency Index dataset into the Cumulative Data, it is absolutely necessary that the country names match between the two datasets.

After running quick comparisons, it is understood that this requires a manual process, for which a further User Story will take care about.

In [32]:
intersection_inner = utils.get_list_inner_outer_join(np.unique(confirmed_df["Country/Region"]),
                                                     np.unique(stringency_df["country_name"]),
                                                     operation="inner")

print(len(intersection_inner))

166

In [33]:
intersection_outer = utils.get_list_inner_outer_join(np.unique(confirmed_df["Country/Region"]),
                                                     np.unique(stringency_df["country_name"]),
                                                     operation="outer")

print(len(intersection_outer))

54

By looking at the outer intersection list, it is clear that some countries are named in a different way on the government response dataset. Also, a few countries from Cumulative Data are not present in the Stringency Index data. This will be resolved on a further process step.

In [34]:
intersection_outer

['Antarctica',
 'Antigua and Barbuda',
 'Armenia',
 'Aruba',
 'Bermuda',
 'Burma',
 'Cabo Verde',
 'Cape Verde',
 'Congo',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Czech Republic',
 'Czechia',
 'Democratic Republic of Congo',
 'Diamond Princess',
 'Equatorial Guinea',
 'Faeroe Islands',
 'Greenland',
 'Guam',
 'Guinea-Bissau',
 'Holy See',
 'Hong Kong',
 'Korea, North',
 'Korea, South',
 'Kyrgyz Republic',
 'Kyrgyzstan',
 'MS Zaandam',
 'Macao',
 'Maldives',
 'Marshall Islands',
 'Micronesia',
 'Montenegro',
 'Myanmar',
 'North Macedonia',
 'Palau',
 'Palestine',
 'Puerto Rico',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Slovak Republic',
 'Slovakia',
 'South Korea',
 'Summer Olympics 2020',
 'Taiwan',
 'Taiwan*',
 'Turkmenistan',
 'US',
 'United States',
 'United States Virgin Islands',
 'West Bank and Gaza',
 'Winter Olympics 2022']